@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", "Quicksand", sans-serif;
  background: url(background.png) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.postcard {
  width: 90%;
  max-width: 800px;
  height: 500px;
  background: rgba(173, 216, 230, 0.507);
  margin: 0 auto;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
  transform: rotate(2.5deg);
  transition: all 0.5s ease;
  text-align: justify;
}

.postcard1 {
  width: 820px;
  height: 510px;
  background: rgba(5, 58, 143, 0.6);
  position: absolute;
  left: 24%;
  filter: blur(2px);
  z-index: -1;
  margin: 0 auto;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
  transform: rotate(2.5deg);
  transition: all 0.5s ease;
}

h1 {
  text-align: center;
  font-size: 3.3em;
  color: #F8F8FF;
  margin-bottom: 15px;
}

.postcard:hover,
.postcard:active,
.postcard:focus {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}

.mail_stamp {
  width: 100px;
  float: right;
}

.push {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

footer {
  margin: 2em auto;
  text-align: center;
  font-family: "Varela Round", "Quicksand", sans-serif;
  background: rgba(200, 225, 255, 0.3);
}

footer p {
  font-size: 2em;
  letter-spacing: 1px;
}

p span {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0 0 20px rgb(255, 255, 255);
  color: #000000;
}

p {
  font-size: 22px;
  font-family: cursive;
  font-weight: 500;
}

.hehe {
  font-size: 25px;
  text-shadow: 0 0 20px rgb(255, 255, 255);
}

@media (max-width: 480px) {
  body {
    background: url(image.png) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    min-height: 100vh;
  }

  h1 {
    font-size: 2em;
    margin-top: 10vh;
  }

  footer p {
    font-size: 1em;
  }

  .postcard {
    width: 90%;
    max-width: 350px;
    min-height: 450px;
    padding: 1.5em;
    margin-top: 12vh;
    box-sizing: border-box;
    text-align: justify;
    overflow: hidden;
    word-wrap: break-word;
  }

  .postcard1 {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    margin-top: 12vh;
    box-sizing: border-box;
  }

  .mail_stamp {
    width: 60px;
  }
}

